<div id="q-interoperable" class="question">
  {# Format/Type with volume #}
  {%- set formatsPath = [uuids.creatingCUuid, uuids.formatsQUuid]|reply_path -%}
  {%- set formatsItems = repliesMap[formatsPath]|reply_items -%}
  {%- if formatsItems|length > 0 -%}
    <div>We will be using the following data formats and types:
    <ul>
      {%- for formatItem in formatsItems -%}
        {%- set formatPrefix = [formatsPath, formatItem]|reply_path -%}
        {%- set formatNameReply = repliesMap[[formatPrefix, uuids.formatsNameQUuid]|reply_path] -%}
        {%- set formatsIsStandardPath = [formatPrefix, uuids.formatsIsStandardQUuid]|reply_path -%}
        {%- set formatsIsStandardAUuid = repliesMap[formatsIsStandardPath]|reply_str_value -%}
        {%- set formatsIsLTSuitablePath = [formatPrefix, uuids.formatsIsLTSuitableQUuid]|reply_path -%}
        {%- set formatsIsLTSuitableAUuid = repliesMap[formatsIsLTSuitablePath]|reply_str_value -%}
        {%- set formatsVolumePath = [formatPrefix, uuids.formatsVolumeQUuid]|reply_path -%}
        {%- set formatsVolumeAUuid = repliesMap[formatsVolumePath]|reply_str_value -%}
        <li>
          {# identification #}
          <div>{{ macros.integrationValue(formatNameReply) }}</div>
          {%- if formatsIsStandardAUuid or formatsIsLTSuitableAUuid or formatsVolumeAUuid -%}
            <p>
            {# standard? #}
            {%- if formatsIsStandardAUuid == uuids.formatsIsStandardYesAUuid %}
              It is a standardized format.
            {%- elif formatsIsStandardAUuid == uuids.formatsIsStandardNoAUuid -%}
              {%- set formatsWhyNonStandardPath = [formatsIsStandardPath, uuids.formatsIsStandardNoAUuid, uuids.formatsWhyNonStandardQUuid]|reply_path -%}
              {%- set formatsWhyNonStandardAUuid = repliesMap[formatsWhyNonStandardPath]|reply_str_value -%}
              {%- if formatsWhyNonStandardAUuid == uuids.formatsWhyNSThereIsNoStandardAUuid %}
                It is not a standardized format because there is no standardized format for this data type.
              {%- elif formatsWhyNonStandardAUuid == uuids.formatsWhyNSItIsOptimizedAUuid %}
                It is not a standardized format but it is optimized for processing speed and/or volume.
              {%- elif formatsWhyNonStandardAUuid == uuids.formatsWhyNSAnotherReasonAUuid -%}
                {%- set formatsWhyNSAnotherReasonPath = [formatsWhyNonStandardPath, uuids.formatsWhyNSAnotherReasonAUuid, uuids.formatsWhyNSAnotherReasonQUuid]|reply_path -%}
                {%- set formatsWhyNSAnotherReason = repliesMap[formatsWhyNSAnotherReasonPath]|reply_str_value -%}
                It is not a standardized format.
                {%- if formatsWhyNSAnotherReason %}
                  {{ formatsWhyNSAnotherReason|capitalize|dot }}
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
            </p>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
    </div>
  {%- endif -%}

  {# Standards used #}
  {%- set whatUsingPath = [uuids.creatingCUuid, uuids.whatUsingQUuid]|reply_path -%}
  {%- set whatUsingItems = repliesMap[whatUsingPath]|reply_items -%}
  {%- if whatUsingItems|length > 0 -%}
    <div>We will be using the following standards (encodings, terminologies, vocabularies, ontologies):
    <ul>
      {%- for standardItem in whatUsingItems -%}
        {%- set whatUsingNamePath = [whatUsingPath, standardItem, uuids.whatUsingNameQUuid]|reply_path -%}
        {%- set whatUsingNameReply = repliesMap[whatUsingNamePath] -%}
        {%- set whatUsingUrlPath = [whatUsingPath, standardItem, uuids.whatUsingUrlQUuid]|reply_path -%}
        {%- set whatUsingUrl = repliesMap[whatUsingUrlPath]|reply_str_value -%}
        <li>
          <div>{{ macros.integrationValue(whatUsingNameReply) }}</div>
          {% if whatUsingUrl %}({{ whatUsingUrl }}){% endif %}
        </li>
      {%- endfor -%}
    </ul>
    </div>
  {%- endif -%}

  {# New vocabularies #}
  {%- set newTypesPath = [uuids.creatingCUuid, uuids.newTypesQUuid]|reply_path -%}
  {%- set newTypesAUuid = repliesMap[newTypesPath]|reply_str_value -%}
  {%- if newTypesAUuid == uuids.newTypesYesAUuid -%}
    {%- set newTypesVocabsPath = [newTypesPath, uuids.newTypesYesAUuid, uuids.newTypesVocabsQUuid]|reply_path -%}
    {%- set newTypesVocabsAUuid = repliesMap[newTypesVocabsPath]|reply_str_value -%}
    {%- if newTypesVocabsAUuid == uuids.newTypesVocabsNoAUuid -%}
      <p>Although we will be using new types of data, suitable public controlled vocabularies or ontologies exist for those.</p>
    {%- elif newTypesVocabsAUuid == uuids.newTypesVocabsYesAUuid -%}
      {%- set newTypesVocabsMappingPath = [newTypesVocabsPath, uuids.newTypesVocabsYesAUuid, uuids.newTypesVocabsMappingQUuid]|reply_path -%}
      {%- set newTypesVocabsMappingAUuid = repliesMap[newTypesVocabsPath]|reply_str_value -%}
      {%- if newTypesVocabsMappingAUuid == uuids.newTypesVocabsMappingNoAUuid -%}
      <p>We will be using new types of data. For that reason, we will make and publish a vocabulary or ontology for some of our data.</p>
      {%- elif newTypesVocabsMappingAUuid == uuids.newTypesVocabsMappingYesAUuid -%}
      <p>We will be using new types of data. For that reason, we will make and publish a vocabulary or ontology for some of our data. Such terms will be mapped to existing vocabularies or ontologies.</p>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {# Produced datasets (qualified references) #}
  {%- set producedDataPath = [uuids.preservingCUuid, uuids.producedDataQUuid]|reply_path -%}
  {%- set producedDataItems = repliesMap[producedDataPath]|reply_items -%}
  {%- set datasets = [] -%}
  {%- if producedDataItems|length > 0 -%}
    {%- for i in producedDataItems -%}
      {%- set pathPrefix = [producedDataPath, i]|reply_path -%}
      {%- set producedDataName = repliesMap[[pathPrefix, uuids.producedDataNameQUuid]|reply_path]|reply_str_value -%}
      {# Only published #}
      {%- set isPublishedDataPath = [pathPrefix, uuids.isPublishedDataQUuid]|reply_path -%}
      {%- set isPublishedDataAUuid = repliesMap[isPublishedDataPath]|reply_str_value -%}
      {% if isPublishedDataAUuid == uuids.isPublishedDataYesAUuid %}
        {# Qualified references #}
        {%- set publishedQReferencesPath = [isPublishedDataPath, uuids.isPublishedDataYesAUuid, uuids.publishedQReferencesQUuid]|reply_path -%}
        {%- set publishedQReferences = repliesMap[publishedQReferencesPath]|reply_items -%}
        {%- set qreferences = [] -%}
        {%- for item in publishedQReferences -%}
          {%- set refId = repliesMap[[publishedQReferencesPath, item, uuids.publishedQReferenceIdQUuid]|reply_path]|reply_str_value|e -%}
          {%- set refRel = repliesMap[[publishedQReferencesPath, item, uuids.publishedQReferenceRelQUuid]|reply_path]|reply_str_value|e -%}
          {%- if refId and refRel -%}
            {%- do qreferences.append({
              'id': refId,
              'relation': refRel,
            }) -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if qreferences|length > 0 and producedDataName -%}
          {%- do datasets.append({
            'name': producedDataName,
            'references': qreferences.copy(),
          }) -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if datasets|length > 0 -%}
    <p>The following produced and published datasets will use qualified references:</p>
    <ul>
      {%- for dataset in datasets -%}
      <li>
        <strong>{{ dataset.name }}</strong>
        <ul>
          {%- for qref in dataset.references -%}
            <li><em>{{ qref.id|e }}</em> &ndash; {{ qref.relation|e }}</li>
          {%- endfor -%}
        </ul>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
