<div id="q-other-outputs" class="question">
  <div class="answer">
    <p>We use {{ globals.fullName }} for planning our data management and creating this DMP. The management and planning of other research outputs is done separately and is included as appendix to this DMP. Still, we benefit from data stewardship guidance (e.g. FAIR principles, openness, or security) and it is reflected in our plans with respect to other research outputs.</p>
  </div>
</div>
