<div id="q-other-issues" class="question">
  <div class="answer">
    {%- set project_url = dc.config.client_url ~ "/projects/" ~ dc.qtn.uuid -%}
    <p>We use the <a href="{{ globals.linkUrl }}" target="_blank">{{ globals.fullName }}</a> with its <em>{{ dc.pkg.name }}</em> (ID: <span class="package-id"><span class="organization-id">{{ dc.pkg.organization_id }}</span>:<span class="km-id">{{ dc.pkg.km_id }}</span>:<span class="version">{{ dc.pkg.version }}</span></span>) knowledge model to make our DMP. More specifically, we use the <a href="{{ dc.config.client_url }}" target="_blank">{{ dc.config.client_url }}</a> {{ globals.name }} instance where the project has direct URL: <a href="{{ project_url }}" target="_blank">{{ project_url }}</a>.</p>

    {# Applied policies #}
    {%- set policiesPath = [uuids.adminDetailsCUuid, uuids.policiesQUuid]|reply_path -%}
    {%- set policiesItems = repliesMap[policiesPath]|reply_items -%}
    {%- set policies = [] -%}
    {%- for item in policiesItems -%}
      {%- set name = repliesMap[[policiesPath, item, uuids.policiesNameQUuid]|reply_path]|reply_str_value -%}
      {%- set ref = repliesMap[[policiesPath, item, uuids.policiesReferenceQUuid]|reply_path]|reply_str_value -%}
      {%- set text = repliesMap[[policiesPath, item, uuids.policiesDescriptionQUuid]|reply_path]|reply_str_value -%}
      {%- if name or ref -%}
        {%- do policies.append({
          'name': name|trim|e,
          'ref': ref|trim|e,
          'text': text|trim|e,
        }) -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if policies|length > 0 -%}
      <p>We will be using the following policies and procedures for data management:</p>
      <ul>
        {%- for policy in policies -%}
          <li>
            {% if policy.name %}
              <strong>{{ policy.name }}</strong> {% if policy.ref %}<br><a href="{{ policy.ref }}" target="_blank">{{ policy.ref }}</a>{% endif %}
            {% else %}
              <strong><a href="{{ policy.ref }}" target="_blank">{{ policy.ref }}</a></strong>
            {% endif %}
            {% if policy.text %}<br>{{ policy.text }}{% endif %}{# TODO check #}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>We will not be using any extra national, funder, sectorial, nor departmental policies or procedures for data management.</p>
    {%- endif -%}
  </div>
</div>
