{%- set eu_header = assets("assets/eu-header.png") -%}
{%- set eu_flag = assets("assets/eu-flag.png") -%}
<header>
  <center>
  <img src="{{ eu_header.data_url }}" height="78" width="160" class="eu-header" />
  </center>
  <h1>{{ ctx.project.name }}</h1>
  <center>
  <img src="{{ eu_flag.data_url }}" height="213" width="320" class="eu-flag" />
  </center>
  <h3>
    Horizon Europe<br/>
    Data Management Plan
  </h3>

  <div class="info">
    <div class="version-info">
      {% for version in dc.project.versions if version.uuid == dc.project.version %}
        <div class="version">{{version.name}}</div>
      {% endfor %}
      <div class="date">{{ dc.doc.created_at|datetime_format("%d %B %Y") }}</div>
    </div>

    <p class="note">
      Data Management Plan created in {{ dc.config.service_name }} &laquo;<a href="{{ dc.config.service_url }}" target="_blank">{{ dc.config.service_domain_name }}</a>&raquo;<br/>
      using {{ dc.pkg.name }} v{{ dc.pkg.version }} (<span class="package-id"><span class="organization-id">{{ dc.pkg.org_id }}</span>:<span class="km-id">{{ dc.pkg.km_id }}</span>:<span class="version">{{ dc.pkg.version }}</span></span>).
    </p>
  </div>
</header>
