<!DOCTYPE HTML>
{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}
{%- set report = ctx.report -%}
{% import "src/macros.html.j2" as macros with context %}
{% import "src/uuids.j2" as uuids with context %}
<html lang="en">
  <head>
    <title>Data Management Plan</title>
    <meta charset="utf-8">
    <style>
      {% include "src/style.css" %}
    </style>
  </head>
  <body>
    <article class="dmp">
      {% include "src/frontpage.html.j2" with context %}
      {% include "src/projects.html.j2" with context %}
      {% include "src/content.html.j2" with context %}
    </article>
  </body>
</html>
