{# Formatting macros #}
{%- macro formatEmail(email) -%}
  <span class="contact-email"><a href="mailto:{{ email }}">{{ email }}</a></span>
{%- endmacro -%}

{%- macro formatOrcid(orcid) -%}
  <span class="contact-orcid">ORCID: <a href="https://orcid.org/{{ orcid }}" target="_blank">{{ orcid }}</a></span>
{%- endmacro -%}

{%- macro integrationValue(reply) -%}
  {%- if reply and reply.value.value.type == "IntegrationType" -%}
    {{ reply.value.value.value.rsplit(" ![]")[0]|markdown }}
  {%- elif reply %}
    {{ reply.value.value.value }}
  {%- endif -%}
{%- endmacro -%}
