@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

/* Layout and global styles */

@page {
  margin: 2.5cm;
}

h1, h2, h3, h4, h5, h6 {
  page-break-inside: avoid !important;
  page-break-after: avoid !important;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Serif', serif;
  font-size: 11pt;
  counter-reset: section;
  counter-reset: question;
}

/* Sections */

section {
  margin-bottom: 4rem;
}

.dmp-section .question + .question {
  margin-top: 1cm;
}

/* First page */

header {
  width: 100vw;
  height: 24cm;
  box-sizing: border-box;
  page-break-after: always;
  position: relative;
}

header h1 {
  margin: 2em;
  font-size: 24pt;
  text-align: center;
}

header h3 {
  margin-top: 2em;
  font-size: 18pt;
  color: #333;
  text-align: center;
}

header > div.info {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

header .dsw {
  margin-top: 2cm;
  font-size: 10pt;
  font-style: italic;
}


/* Versions */

div#dmp-versions table {
  width: 100%;
  border-collapse: collapse;
}

div#dmp-versions table,
div#dmp-versions td,
div#dmp-versions th {
  border: 1px solid black;
}

div#dmp-versions td,
div#dmp-versions th {
  padding: 0.2em;
}

div#dmp-versions th.title {
  text-transform: uppercase;
}

div#dmp-versions td.version-name {
  text-align: center;
  word-wrap: break-word;
}

div#dmp-versions td.version-date {
  text-align: center;
  width: 18ex;
}

div#dmp-versions td.version-changes {
  word-wrap: break-word;
}

div#dmp-versions td.no-versions {
  font-style: italic;
  padding: 1em;
  text-align: center;
}

/* Contributors */

.contributor .name {
  font-weight: bold;
}

.contributor .role,
.contributor .affiliation {
  font-style: italic;
}

/* Projects */

.abstract {
  page-break-after: always;
}

.abstract p {
  text-align: justify;
}

/* custom */

.mini-orcid-icon-16 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABnElEQVQ4y52UvUtCURjGf968lmQhFGXYEH3QUg0JhkPR4l5T0IUosMGxv6C1KdpahCZbGxscGiXBloIKo0ESEYpEM71+3NvgvXW0j3vp2c57zvPjPQ/nPWCheDrkiKdDDqtzjl/MQSAChAG/Uc4BCSCmBJKpP0HxdGgQOAY2LRo4BaJKIFn6BjIgCSDolPrQ9Caa3vwLlgLCJkwSNo6BIEBoYp8537ZVLEHD89WRkcmlWex3+WhqNeqtMrLk/nTWWxVA7wYuKYFkymksIuLO/FiEYjXDazXD6tQhJTWLLLmRezxkns+4zsfQdQ3B+wkK/9Z/Sc1yfrsFgFseYnnyAE1vcJM/QfSaGfmxoWrjhaunI2aG18WyvztsW6rUC/Q6vd/qJihnFzTuXeG5ciOWcgBmRglg9yejLLkZHVhEcrgY8SwwPbzGxcOeeCQhgmIi6LV6z5uaR20WKdYemR3ZQNMalNUs53c7vNcLIigGnS87jvVodOtUCSSV7rCjtJ+9XaUMT0fYGDMTpj2Qlp0gzFnH1UT95xuxlN2P7QOpwZChGlWkWQAAAABJRU5ErkJggg==) no-repeat;
  background-size: 0.4cm 0.4cm;
  width: 0.4cm;
  height: 0.4cm;
  display: inline-block;
  margin: -2px 0 -2px 2px;
}

div#dmp-projects,
div#dmp-contributors,
div#dmp-content {
  page-break-before: always;
}

/* definition lists */

dl::after {
  content: ' ';
  display: table;
  clear: both;
}

dl dt {
  display: inline-block;
  width: 20%;
  margin: 0;
  margin-bottom: 0.5rem;
  float: left;
  white-space: nowrap;
}

dl dt::after {
  content: ":";
}

dl dd {
  display: inline-block;
  width: 80%;
  margin: 0;
  margin-bottom: 0.5rem;
  float: left;
  font-style: italic;
}

dl dd ul {
  padding: 0;
  margin: 0;
}

dl dd ul li {
  list-style: none;
}

dl dd ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

dl .contact-name {
  font-weight: bold;
}
